@tailwind base;
@tailwind components;
@tailwind utilities;

.cal-btn-secondary {
    @apply bg-gray-50 hover:bg-gray-300  text-red-600 font-semibold py-2 px-4 border border-black rounded shadow
    w-28 m-1;
  }
  .cal-btn1-secondary {
    @apply bg-gray-50 hover:bg-gray-300 text-gray-800 font-semibold py-2 px-4 border border-black rounded shadow;
    width: 3.5rem; /* Equivalent to w-14 */
    margin: 0.25rem; /* Equivalent to m-1 */
  }

  .email-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
    focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
     dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
      dark:focus:border-blue-500 ;
  }

  .textarea-container {
    height: 200px; /* Adjust height as needed */
    overflow-y: auto;
}

/* Add any custom scrollbar styles */
.scrollbar::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners */
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
}


  

